
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=


#Safaricom Daraja
DARAJA_BASE_URL=
DARAJA_CALLBACK_URL=
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_SHORTCODE=
DARAJA_PASSKEY=
DARAJA_PARTYA=

#Auth
JWT_SECRET=